body {
  background-color: black;
  margin-bottom: 42px;
}

#field {
  display: block;
  float: left;
  margin: 0 auto;
  border-style: solid;
  border-width: 6px;
  border-color: white;
}

#left-score, #right-score {
  float: left;
  width: 450px;
  color: white;
  text-align: center;
  margin-top: 75px;
  font-family: 'Kaushan Script', cursive;
}

#right-score {
  margin-left: 10px;
}

#left-score {
  margin-right: 10px;
}

#right-score #playerTwo, #left-score #playerOne, #left-score #playerTwo-hidden {
  font-size: 60px;
}

#right-score #playerTwo-score, #left-score #playerOne-score, #left-score #playerTwo-score-hidden {
  font-size: 90px;
}

#left-score #playerTwo-hidden {
  margin-top: 125px;
}

#playerTwo-hidden, #playerTwo-score-hidden {
  opacity: 0;
}

#game-title {
  color: #09e54b;
  font-size: 60px;
  margin-top: 250px;
  font-weight: bold;
  font-family: 'Kaushan Script';
}

#gameover {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: white;
  color: white;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
}

#gameover #gameover-message {
  font-size: 75px;
  line-height: 150px;
  font-family: 'Kaushan Script', cursive;
}

#gameover #newgame-message {
  font-size: 25px;
  line-height: 50px;
}

@media (max-width: 1550px) {
  #right-score, #game-title {
    opacity: 0;
  }

  #right-score #playerTwo, #right-score #playerTwo-score, #game-title {
    font-size: 1px;
    margin: 0;
  }
  #playerTwo-hidden, #playerTwo-score-hidden {
    opacity: 1;
  }
  #left-score {
    margin-top: 40px;
  }
}
